{{!-- navbar --}}
<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Mongo Scraper</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Saved Articles</a>
      </div>
    </div>
    <form class="form-inline">
      <button class="btn btn-outline-info" type="submit">Scrape New Articles!</button>
    </form>
  </nav>
</div>