<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">Mongo Scraper</span>
  <div class="navbar" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/savedarticles">Saved Articles
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">superherohype.com edition</p>
    <p>Your saved articles are listed below. You can add notes about the article by clicking the 'Article Notes' or
      deleted the article from your saved articles by clicking the 'Delete From Saved' button</p>
  </div>
</div>

<div id="savedArticles">

</div>

<div id="notes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="notes" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group savedNotes">

        </ul>
        <form>
          <div class="form-group">
            <label for="noteTitle">Note Title:</label>
            <input type="text" class="form-control" id="noteTitle" aria-describedby="noteTitle" placeholder="Enter Note Title">
          </div>
          <div class="form-group">
            <label for="noteText">Enter Note:</label>
            <textarea class="form-control" id="noteText" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="saveNoteButton" class="btn btn-outline-info" data-dismiss="modal">Save Note</button>
      </div>
    </div>

  </div>
</div>
</div>

<div id="noteSaved" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="noteSaved" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Note Saved!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="articleDeleted" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="articleDeleted" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Article Deleted!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}

<script src="/js/savedarticles.js" type="text/javascript">
</script>

{{/section}}